@media only screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
    
    .ul-style {
        display: none;
    }
    
    .xi-div {
        display: grid;
    }
    
    .fire-div {
        display: grid;
    }
    
    .fire {
        width: 250px;
        height: 15vh;
    }

    .men {
        width: 250px;
        height: 15vh;
    }

    .jetski {
        width: 250px;
        height: 15vh;
    }
    
    .xi {
        width: 350px;
        height: 20vh;
    }

    h1 {
        font-size: 20px;
    }
    
    .jet-div {
        display: grid;
    }

    .fraction {
        display: grid;
        justify-content: center;
    }

    .hrdiv {
        display: grid;
    }

    .hrdiv2 {
        display: none;
    }

    .rocket {
        width: 250px;
        height: 15vh;
    }

    .hrdivnew {
        display: none;
    }

    .hrdivnew1 {
        display: none;
    }

    .island {
        width: 250px;
        height: 15vh;
    }

    .fraction2 {
        display: grid;
    }

    .parent {
        display: grid;
    }

    .island-div {
        display: none;
    }

    .island-div1 {
        display: none;
    }

    hr {
        display: none;
    }
    
}
